@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  background-color: #B7E0FF;
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {  
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  width: 40em;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #f8f896;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #FFCFB3;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.show-details-btn {
  background-color: #f8f896;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}


#number-of-events label input {
  margin-left: 10px;
}
#number-of-events label {
  font-size: 18px;
  font-weight: bold;
}

.eventDetails {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  background-color: #f8f896;
  border: 2px solid black;
  width: 40em;
}
